pydantic>=2.0
pydantic-settings
fastapi
uvicorn[standard]
sqlalchemy
asyncpg
pydantic
pydantic-settings
python-jose
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
aiosqlite
slowapi
python-dotenv
faker
alembic
psycopg2-binary
pydantic[email]
redis>=5.0.0
passlib==1.7.4
bcrypt==4.0.1
python-multipart